name: Testing Coverage

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Run coverage
        run: |
          pip install .[testing]
          coverage run --source thrml_boost --parallel-mode -m pytest -m "not slow" tests/
          coverage combine
          coverage html
          coverage report --fail-under=90
